.not-found-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top:2rem;
}
.go-back-btn {
  padding:0.5rem;
  background-color: rgba(184, 184, 122, 0.35);
  border-radius: 0.5rem;
  margin:2rem;
}