.home-container {
  max-width: 1080px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
  margin-top: 3rem;
}

.question-title {
  font-weight: bold;
  font-size: 5vw;
}
