.card-option{
  background-color: rgba(255, 255, 255, 0.15);
  padding:0.5rem;
  border-radius: 0.5rem;
}

.card-option:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.45);
}

.opened, .opened:hover{
  background-color: rgba(0, 0, 0, 0.45);
}

