.added-place {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  background-color: rgba(0, 0, 0, 0.15);
  padding: 0.3rem;
  border-radius: 0.3rem;
}

.delete {
  background-color: rgb(214, 62, 62);
}

.added-places {
  background-color: rgba(255, 255, 255, 0.192);
  padding: 0.7rem;
  border-radius: 0.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 10px;
}

.added-place {
  font-size: 14px;
}

.add-place-btn {
  cursor: pointer;
  border: 0;
  background-color: rgba(0, 0, 0, 0.15);
  color: white;
  padding: 0.3rem;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0.5rem;
}

.add-places-setting {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
