.single-device-game-container {
  background: linear-gradient(90deg, hsla(265, 53%, 29%, 1) 0%, hsla(24, 93%, 73%, 1) 100%);
  background: -moz-linear-gradient(90deg, hsla(265, 53%, 29%, 1) 0%, hsla(24, 93%, 73%, 1) 100%);
  background: -webkit-linear-gradient(90deg, hsla(265, 53%, 29%, 1) 0%, hsla(24, 93%, 73%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#432371", endColorstr="#FAAE7B", GradientType=1 );
  color:white;
  font-size: 18px;
  width: 80%;
  margin: auto;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 1rem;
  margin-top: 5vh;
  padding:1rem;
  max-width: 800px;
}

.single-device-container > * {
  margin:1rem;
}

.title{
  font-weight: bold;
  font-size: 1.5rem;
}