.settings-container {
  background: linear-gradient(90deg, hsla(265, 53%, 29%, 1) 0%, hsla(24, 93%, 73%, 1) 100%);
  background: -moz-linear-gradient(90deg, hsla(265, 53%, 29%, 1) 0%, hsla(24, 93%, 73%, 1) 100%);
  background: -webkit-linear-gradient(90deg, hsla(265, 53%, 29%, 1) 0%, hsla(24, 93%, 73%, 1) 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#432371", endColorstr="#FAAE7B", GradientType=1 );
  color:white;
  font-size: 18px;
  width: 80%;
  margin: auto;
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 1rem;
  margin-top: 5vh;
  padding:1rem;
  max-width: 800px;
}

.settings-container > * {
  margin:1rem;
}


.setting {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-around;
}
.inc {
  background-color:rgba(0, 128, 0, 0.35);
}
.dec {
  background-color:rgba(255, 0, 0, 0.35);
}
.inc:hover {
  background-color:rgba(0, 128, 0, 0.85);
}
.dec:hover {
  background-color:rgba(255, 0, 0, 0.85);
}
.change-btn {
  border-radius: 50%;
}
.change-btn:hover{
  cursor:pointer;
}

.setting-label {
  display: flex;
  font-weight: bold;
  justify-content: space-around;
  width: 10vw;
  min-width: 150px;
}

.setting-area{
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-between;
  width: 5rem;
}

.single-device-container > a {
  text-decoration: none;
  color:white;
}

.start-game-btn {
  width: 15vw;
  min-width: 150px;
  margin: auto;
  font-size: 1rem;
  padding:0.5rem;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  box-shadow: 0px 0px 20px -10px #ffffff;
  margin-top: 1rem;
}

.start-game-btn:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.4);

}